.app-brand-text.demo {
    font-size: 20px;
    letter-spacing: -0.5px;
}



.icon-color {
    color: #696cff;
}



.email-link {
    cursor: pointer;
    color: #0d6efd;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: color 0.3s ease;
    font-weight: 500;
}

.email-link:hover {
    color: #e83e8c;
    /* hover color */
}

.email-link a {
    color: inherit;
    text-decoration: none;
}

.copy-tooltip {
    font-size: 12px;
    color: green;
    margin-left: 6px;
    display: none;
}